.woocommerce-account {
  .woocommerce {
    padding-bottom: var(--scale-16-32);
  }

  .u-column1,
  .u-column2 {
    display: grid;
    gap: var(--scale-16-32);
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0;
    float: none;

    @media (min-width: 768px) {
      width: 50%;
    }

    .woocommerce-form-register,
    .woocommerce-form-login {
      display: grid;
      gap: var(--scale-16-32);
    }

    wc-order-attribution-inputs {
      display: none;
    }
  }

  .u-column1 {
    margin-bottom: var(--scale-16-32);

    @media (min-width: 768px) {
      float: left;
      padding-right: var(--scale-16-32);
    }
  }

  .u-column2 {
    @media (min-width: 768px) {
      float: right;
    }
  }

  button {
    background: var(--c-nearly-black);
    color: var(--c-white);
  }

  form.woocommerce-form-login {
    max-width: var(--max-readable-width);

    .form-row {
      label.woocommerce-form-login__rememberme {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--s-8);
        margin-bottom: var(--scale-16-32);
      }
    }
  }

  form.woocommerce-ResetPassword {
    max-width: var(--max-readable-width);
  }

  .woocommerce {
    display: flex;
    flex-direction: column;
    gap: var(--scale-16-32);
    align-items: flex-start;

    .woocommerce-error {
      margin: 0;
    }
  }

  .woocommerce-MyAccount-content {
    width: 100%;
    display: grid;
    gap: var(--scale-16-32);

    .woocommerce-message {
      margin: 0;
    }

    .woocommerce-address-fields,
    .woocommerce-address-fields__field-wrapper,
    .woocommerce-Addresses {
      display: grid;
      gap: var(--scale-16-32);
    }

    form {
      max-width: var(--max-readable-width);

      p {
        margin: 0;
      }

      input {
        width: 100%;
      }

      fieldset {
        display: grid;
        gap: var(--scale-16-32);
        border: 0;
        padding: 0;

        legend {
          margin-bottom: var(--scale-16-32);
          font-size: var(--fs-h3);
          font-weight: var(--fw-bold);
        }
      }
    }
  }

  .woocommerce-MyAccount-navigation {
    a {
      white-space: nowrap;
    }
  }

  .shop_table tr:last-child td {
    text-align: left;
    padding: var(--scale-8-16);
  }

  .woocommerce-columns {
    display: grid;
    gap: var(--scale-16-32);
  }

  .woocommerce-column {
    display: grid;
    gap: var(--scale-8-16);
  }

  #wc-woocommerce_payments-upe-form {
    margin: 0;
    padding: 0;
  }

  .woocommerce-Payment,
  .woocommerce-PaymentBox {
    display: grid;
    gap: var(--scale-16-32);
  }

  .testmode-info {
    margin: 0;
  }

  .shop_table td:first-child {
    border-top: none;
  }

  .shop_table th {
    font-weight: var(--fw-semi-bold);
  }

  .woocommerce-button {
    padding: var(--s-8) var(--scale-8-16);
    font-size: var(--fs-small);
  }

  strong {
    font-weight: var(--fw-semi-bold);
  }

  .woocommerce-EditAccountForm {
    display: grid;
    gap: var(--s-16);

    fieldset {
      margin: var(--s-16) 0 0 0;
    }
  }
}

.logged-in.woocommerce-account .woocommerce {
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

#payment_method_woocommerce_payments {
  width: auto;
  display: inline-block;
  margin-right: 8px;
}
