// checkout page
button.wc-block-components-checkout-place-order-button {
  color: var(--c-nearly-black);
  background-color: var(--c-primary-button);
  border: 2px solid var(--c-button-border);
  border-radius: 500px;
  width: 100%;
  text-align: center;
  padding: var(--scale-16-24);
  font-weight: var(--fw-medium);
}

.wc-block-components-express-payment.wc-block-components-express-payment--checkout {
  margin-top: var(--scale-16-32);
}

.wc-block-components-address-form__address_2-toggle {
  box-shadow: none;
  padding: 0;
}

.review {
  border: 1px solid var(--c-primary-button);
  padding: var(--scale-8-16);
  border-radius: var(--border-radius-small);

  .review-author {
    font-weight: var(--fw-bold);
    font-size: var(--fs-small);
  }
}
