.benefits-section-slim {
  padding: var(--scale-16-32) 0;
  margin-top: 0;

  .inner-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--scale-16-32);

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .benefit {
    display: flex;
    gap: var(--scale-8-16);
    align-items: center;
    margin: auto;

    .icon {
      width: 24px;
      height: 24px;

      svg {
        fill: var(--c-nearly-black);
      }
    }
  }
}
