.callouts {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--scale-16-32);
  margin-bottom: var(--scale-32-64);

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  &.animals {
    grid-template-columns: 1fr 1fr;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .callout {
      .image {
        img {
          aspect-ratio: 1 / 1;
        }
      }
    }
  }

  .callout {
    width: 100%;
    text-decoration: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--scale-8-16);
    overflow: hidden;

    .image {
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: relative;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
        border-radius: var(--border-radius-small);
        transition: all var(--transition);
        display: block;
      }
    }

    .title {
      display: flex;
      align-items: center;
      gap: var(--scale-8-16);

      img {
        position: relative;
        left: 0;
        transition: left var(--transition);
      }
    }

    &:hover {
      .title {
        img {
          left: var(--s-4);
          transition: left var(--transition);
        }
      }
    }
  }
}
