.toggle-currency {
  display: flex;
  height: 28px;
  padding: 0;
  border-color: transparent;
  border-radius: var(--border-radius-extra-small);
  overflow: hidden;
  box-shadow: none;

  &.USD {
    .USD {
      opacity: 1;
      filter: none;
    }
  }

  &.GBP {
    .GBP {
      opacity: 1;
      filter: none;
    }
  }

  .flag {
    height: 28px;
    width: 37px;
    display: inline-block;
    opacity: 0.2;
    filter: grayscale(1);

    &.USD {
      background: url(images/us.svg) no-repeat;
    }

    &.GBP {
      background: url(images/gb.svg) no-repeat;
    }
  }
}
