.hero-section {
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 1),
    rgba(129, 129, 129, 1)
  );
  padding: var(--scale-16-32) 0;
  overflow: hidden;

  h1 {
    color: var(--c-white);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8), 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: var(--scale-16-32) 0;

    @media (min-width: 768px) {
      padding: var(--scale-32-64) 0;
    }
  }

  .title-with-text {
    text-transform: uppercase;

    h1 {
      padding-top: 0;
      padding-bottom: var(--scale-32-64);
      font-size: var(--fs-h1-super);
    }

    .pre-text {
      color: var(--c-white);
      padding-top: var(--scale-32-64);
      font-size: var(--fw-light);
      font-size: var(--fs-h2);
    }
  }

  .inner-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--scale-16-32);
    align-items: center;
    position: relative;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1250px) {
      grid-template-columns: 3fr 2fr;
    }
  }

  img {
    margin-top: calc(var(--scale-16-32) * -1);
  }

  .hero-image {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }
}

.tiles {
  display: none;

  @media (min-width: 768px) {
    position: absolute;
    display: flex;
    gap: var(--scale-16-32);
    flex-direction: row;
    right: var(--scale-16-32);
    top: -75%;
  }

  .col {
    display: flex;
    gap: var(--scale-16-32);
    flex-direction: column;

    &:first-child {
      margin-top: 20%;
    }
  }

  .tile {
    width: clamp(5rem, -4.0909rem + 24.2424vw, 25rem);
    height: clamp(5rem, -4.0909rem + 24.2424vw, 25rem);
    border-radius: var(--border-radius-small);
    overflow: hidden;
    outline: var(--s-4) solid rgba(255, 255, 255, 0.1);

    img {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.brown-gradient {
  background: linear-gradient(to bottom right, #999383, #c9c3b3) !important;
}
