.top-banner {
  padding: var(--scale-8-16) 0;
  background: var(--c-gradient-black);
  text-transform: uppercase;
  color: var(--c-white);

  .inner-wrapper {
    text-align: center;
    font-weight: var(--fw-bold);
  }
}
