.top-banner {
  padding: var(--scale-8-16) 0;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 1),
    rgba(129, 129, 129, 1)
  );

  .brown-gradient {
    background: linear-gradient(to bottom right, #999383, #c9c3b3);
  }

  .inner-wrapper {
    text-align: center;
    color: var(--c-white);
  }
}
