button,
.button,
.products .button {
  padding: var(--scale-8-16) var(--scale-16-32);
  border-radius: 100px;
  box-shadow: var(--box-shadow-button);
  border: 1px solid var(--c-grey-dark);
  background-color: var(--c-white);
  color: var(--c-nearly-black);
  height: fit-content;
  display: inline-block;
  outline-offset: -2px;
  text-decoration: none;

  &.product_type_variable.add_to_cart_button {
    padding: var(--s-8) var(--scale-8-16);
    font-size: var(--fs-small);
  }
}
