// checkout page
.woocommerce-checkout {
  p {
    margin: 0 !important;
  }

  form.woocommerce-checkout {
    display: block;
    margin-top: var(--scale-16-32);
    overflow: auto;
    clear: both;

    input[type='checkbox'],
    input[type='radio'] {
      width: 2.4rem !important;
      height: 2.4rem !important;
    }

    .col2-set {
      float: none;
      width: 100%;
      padding: 0 0 var(--scale-16-32) 0;

      @media (min-width: 768px) {
        float: left;
        width: 50%;
        padding: 0 var(--scale-16-32) var(--scale-16-32) 0;
      }
    }

    #order_review_heading {
      margin-bottom: var(--scale-16-32);
    }

    .woocommerce-billing-fields {
      display: grid;
      gap: var(--scale-16-32);
    }

    .col2-set {
      display: grid;
      gap: var(--scale-16-32);

      .col-1 {
        display: grid;
        gap: var(--scale-16-32);

        .woocommerce-form__label {
          display: flex;
          gap: var(--s-8);
          flex-direction: row;
        }
      }
    }

    .woocommerce-billing-fields__field-wrapper,
    .woocommerce-shipping-fields__field-wrapper,
    .woocommerce-additional-fields__field-wrapper {
      display: grid;
      gap: var(--scale-24-32);
      border-left: 1px solid var(--c-grey-med);
      padding-left: var(--scale-8-16);

      .form-row {
        order: 1;
        display: block;
        position: relative;

        &.validate-email {
          order: 0;
        }

        &#billing_address_2_field,
        &#shipping_address_2_field {
          margin-top: -16px;
        }

        label {
          position: absolute;
          top: -12px;
          background: var(--c-white);
          z-index: 100;
          width: fit-content;
          font-size: var(--fs-small);
        }
      }
    }

    .woocommerce-additional-fields__field-wrapper {
      border: none;
      padding: 0;
    }

    .woocommerce-shipping-fields {
      display: grid;
      gap: var(--scale-16-32);

      .woocommerce-form__label-for-checkbox {
        display: flex;
        align-items: center;
        gap: var(--s-8);

        span {
          font-size: var(--fs-small);
          font-weight: var(--fw-medium);
          font-family: 'Poppins', sans-serif;
        }
      }
    }

    .shipping_address {
      display: grid;
      gap: var(--scale-16-32);
    }

    .col-2 {
      gap: var(--scale-16-32);
      display: grid;
      grid-template-columns: 1fr;

      textarea {
        width: 100%;
        height: 200px;
      }
    }

    .woocommerce-checkout-review-order {
      gap: var(--scale-8-16);
      display: grid;

      .shop_table {
        table {
          width: 100%;
        }

        td,
        th {
          border: none;
          vertical-align: top;
          padding: 0;
          display: table-cell;
        }

        th {
          background: none;
        }

        .woocommerce-shipping-totals td {
          gap: var(--scale-8-16);
          display: grid;
        }

        tr.cart-subtotal {
          td,
          th {
            border-bottom: 1px solid var(--c-grey-med);
            border-top: 1px solid var(--c-grey-med);
            padding: var(--scale-8-16) 0;
          }

          td {
            text-align: right;
            font-size: var(--fs-h4);
            font-weight: var(--fw-bold);
          }

          th {
            font-weight: var(--fw-regular);
            font-size: var(--fs-h4);
          }
        }

        .product-total {
          text-align: right;
        }

        .cart_item td {
          padding: 0 0 var(--s-8) 0;
        }
      }

      .order-total {
        th,
        td {
          border-bottom: 1px solid var(--c-grey-med);
          border-top: 1px solid var(--c-grey-med);
          padding: var(--scale-8-16) 0;
        }

        td {
          text-align: right;
        }

        th {
          font-weight: var(--fw-bold);
          font-size: var(--fs-h3);
          width: 100%;
        }

        small {
          display: block;
          font-size: var(--fs-tiny);

          .woocommerce-Price-amount {
            font-weight: var(--fw-regular);
            font-size: var(--fs-tiny);
          }
        }

        .woocommerce-Price-amount {
          font-weight: var(--fw-bold);
          font-size: var(--fs-h3);
        }
      }

      .shipping-table {
        width: 100%;

        .woocommerce-shipping-totals {
          th {
            font-weight: var(--fw-regular);
          }

          th,
          td {
            padding: var(--scale-8-16) 0;
          }

          td {
            width: 100%;
            padding-left: var(--scale-8-16);
          }
        }

        .woocommerce-shipping-methods {
          li {
            align-items: stretch;
          }

          label {
            width: 100%;
            display: flex;
            align-items: stretch;
            gap: var(--scale-8-16);
            justify-content: space-between;
            text-align: left;
          }
        }
      }

      .coupon-form {
        td {
          padding: var(--scale-8-16) 0 0 0;
        }

        .woocommerce-info {
          margin: 0;
        }

        form {
          display: flex;
          align-items: center;
          gap: var(--scale-8-16);
          justify-content: right;
          padding-top: var(--scale-8-16);

          p:first-child,
          .clear {
            display: none;
          }

          button[type='submit'] {
            font-weight: var(--fw-regular);
            background-color: var(--c-white);
            border: 1px solid var(--c-grey-dark);
            padding: var(--scale-8-16);
          }
        }
      }

      .coupon-table {
        td,
        th {
          padding: var(--scale-8-16) 0 0 0;
        }

        th {
          font-weight: var(--fw-regular);
          width: 100%;
        }

        td {
          font-weight: var(--fw-bold);
          color: var(--c-green-dark);
        }

        a {
          color: var(--c-nearly-black);
          font-weight: var(--fw-regular);
        }
      }

      button[type='submit'] {
        color: var(--c-nearly-black);
        background-color: var(--c-primary-button);
        border: 2px solid var(--c-button-border);
        border-radius: 500px;
        width: 100%;
        text-align: center;
        padding: var(--scale-16-24);
        font-weight: var(--fw-bold);
      }
    }

    .place-order {
      display: grid;
      gap: var(--scale-16-32);

      .form-row {
        margin: 0;
      }
    }

    label[for='payment_method_woocommerce_payments']
      label[for='payment_method_ppcp'] {
      font-size: var(--fs-h3);
      font-weight: var(--fw-bold);
    }

    .woocommerce-checkout-payment,
    .wc_payment_methods,
    .wc_payment_method,
    .payment_method_woocommerce_payments {
      display: grid;
      gap: var(--scale-16-32);

      fieldset {
        padding: 0 !important;
        border: none;
        margin: 0;

        .wcpay-upe-element {
          padding: 0;
          margin: 0;
        }
      }
    }

    .form-row.woocommerce-SavedPaymentMethods-saveNew,
    .woocommerce-SavedPaymentMethods li {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--s-8);
    }

    .form-row.woocommerce-SavedPaymentMethods-saveNew {
      padding-top: 16px;
    }

    #wc-woocommerce_payments-new-payment-method {
      width: 2.4rem !important;
      height: 2.4rem;
    }

    #wcpay-payment-request-button-separator {
      margin: var(--scale-16-32);
      max-width: 100%;
    }

    &.processing {
      z-index: 99;

      &:after {
        content: 'Processing ...';
        display: flex;
        align-items: center;
        z-index: 999;
        font-size: var(--fs-h3);
        font-weight: var(--fw-bold);
      }
    }
  }
}

.woocommerce-checkout form.woocommerce-checkout .wc_payment_methods {
  gap: var(--scale-8-16);
  border: 1px solid var(--c-grey-dark);
  padding: var(--scale-8-16);
  border-radius: var(--border-radius-small);

  li {
    display: grid;
    gap: var(--scale-8-16);
    align-items: center;
    grid-template-columns: 24px auto;
    grid-template-rows: auto;
  }

  .payment_box {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  label[for='payment_method_woocommerce_payments'],
  label[for='payment_method_ppcp'] {
    width: 100%;
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
  }
}

.woocommerce-checkout .woocommerce-form-login {
  max-width: var(--max-readable-width);
  display: grid;
  gap: var(--scale-8-16);
  margin: auto;
  padding-bottom: var(--scale-16-32);

  .woocommerce-form__label-for-checkbox {
    display: flex;
    align-items: center;
    gap: var(--s-8);
    margin-bottom: var(--scale-8-16);
  }
}

#wcpay-payment-request-button-separator {
  margin-bottom: var(--scale-16-32) !important;
}

.review {
  border: 1px solid var(--c-primary-button);
  padding: var(--scale-8-16);
  border-radius: var(--border-radius-small);

  .review-author {
    font-weight: var(--fw-bold);
    font-size: var(--fs-small);
  }
}

.woocommerce-privacy-policy-text {
  padding-bottom: var(--scale-16-32);
}

#mailpoet_woocommerce_checkout_optin_present_field {
  display: none;
}

.woocommerce-terms-and-conditions-wrapper {
  display: none;
}

wc-order-attribution-inputs {
  display: none;
}
