.woocommerce-order-received {
  .inner-wrapper {
    display: grid;
    gap: var(--scale-16-32);
    justify-content: normal;

    .woocommerce-order {
      display: grid;
      gap: var(--scale-16-32);

      .wc-item-meta {
        li {
          margin-top: var(--s-8);
        }

        p {
          display: inline-block;
        }
      }

      .woocommerce-thankyou-order-received {
        background: var(--c-success-pale);
        color: var(--c-success-dark);
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: var(--scale-16-32);
        overflow: hidden;
        margin: 0;
        border-left: 4px solid var(--c-success-dark);
        padding: var(--scale-8-16);
      }

      .woocommerce-order-overview {
        display: grid;
        gap: var(--scale-8-16);
      }

      .woocommerce-order-details,
      .woocommerce-personalisation {
        display: grid;
        gap: var(--scale-16-32);
      }

      .shop_table tr:last-child td {
        text-align: left;
        padding: var(--scale-8-16);
      }

      .woocommerce-table__product-name {
        text-align: left;
      }

      .woocommerce-table__product-name {
        text-align: left;
      }

      .woocommerce-columns {
        display: grid;
        gap: var(--scale-16-32);
      }

      .woocommerce-column {
        display: grid;
        gap: var(--scale-8-16);
      }
    }
  }
}
