// single product page
.single {
  .woocommerce-product-gallery__wrapper {
    overflow: hidden;
  }

  div.product {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--scale-16-32);
    align-items: flex-start;
    position: relative;

    @media (min-width: 768px) {
      grid-template-columns: 60% 1fr;
    }

    .onsale {
      position: absolute;
      top: calc(var(--scale-8-16) * -1);
      left: calc(var(--scale-8-16) * -1);
      padding: var(--s-8) var(--s-16);
      background: var(--c-error-dark);
      color: var(--c-white);
      border-radius: 100px;
      font-size: var(--fs-small);
      font-weight: var(--fw-bold);
      z-index: 1;
    }

    img {
      height: fit-content;
    }

    .summary {
      display: grid;
      gap: var(--scale-16-32);

      .woocommerce-product-rating {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .star-rating {
          margin-right: var(--s-8);
        }
      }

      form.cart {
        display: grid;
        gap: var(--scale-16-32);
      }

      .woocommerce-product-details__short-description {
        display: grid;
        gap: var(--scale-16-32);
      }

      .personalisation-callout {
        background: var(--c-accent);
        border: 1px solid var(--c-button-border);
        color: var(--c-nearly-black);
        border-radius: var(--border-radius-extra-small);
        padding: var(--scale-8-16);
        display: grid;
        gap: var(--scale-8-16);
      }

      .variations {
        tr {
          display: flex;
          gap: var(--s-8);
          align-items: center;
        }

        .value {
          display: flex;
          gap: var(--s-8);
          align-items: center;
        }
      }

      .variations_form,
      .single_variation_wrap {
        display: grid;
        gap: var(--scale-8-16);
      }

      .wcpa_form_outer {
        margin: 0;

        .wcpa_field_label {
          font-weight: var(--fw-bold);
          font-size: var(--fs-nav);
        }

        .wcpa_field {
          padding: var(--scale-8-16);
          border-radius: var(--border-radius-extra-small);
          border: 1px solid var(--c-grey-med);
          outline-offset: -2px;
          width: 100%;
          height: auto;
        }
      }

      .woocommerce-variation-add-to-cart {
        display: grid;
        gap: var(--scale-8-16);
        width: 100%;
      }

      select[name='attribute_pa_size'] {
        padding-right: var(--s-32);
      }

      .button[type='submit'] {
        margin-top: var(--scale-8-16);
        width: var(--cta-width);
        text-align: var(--cta-text-align);
        color: var(--cta-color);
        background-color: var(--cta-background-color);
        border: var(--cta-border);
        border-radius: var(--cta-border-radius);
        padding: var(--cta-padding);
        font-size: var(--cta-font-size);
        font-family: var(--cta-font-family);
        font-weight: var(--cta-font-weight);
        text-decoration: var(--cta-text-decoration);

        &.disabled {
          cursor: no-drop;
          opacity: 0.5;
        }
      }

      .sku_wrapper {
        display: none;
      }

      .wcpay-payment-request-wrapper {
        margin: 0;
      }
    }

    .woocommerce-product-gallery {
      max-width: 99%;

      .flex-control-thumbs {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: var(--scale-8-16);

        img {
          width: 100%;
          cursor: pointer;
        }

        .flex-active {
          cursor: inherit;
          filter: grayscale(1);
          opacity: 0.2;
        }
      }
    }
  }

  // product tabs
  .woocommerce-tabs {
    display: grid;
    gap: var(--scale-16-32);
    max-width: var(--max-readable-width);
    margin-bottom: var(--scale-16-32);

    @media (min-width: 768px) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .tabs {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      gap: var(--scale-8-16);
      display: none;

      li {
        padding: var(--scale-8-16) var(--scale-16-24);
        border-bottom: 2px solid var(--c-grey);
        color: var(--c-nearly-black);
        height: fit-content;
        display: inline-block;
        outline-offset: -2px;

        &.active {
          border-color: var(--c-nearly-black);
        }

        a {
          text-decoration: none;
        }
      }
    }

    .woocommerce-Tabs-panel,
    .woocommerce-Reviews {
      display: grid;
      gap: var(--scale-16-32);

      ul {
        padding-left: var(--scale-16-32);
        display: grid;
        gap: var(--s-16);

        li {
          list-style: disc;
        }
      }

      br {
        content: '';
        display: block;
        margin-bottom: 0.8rem;
      }
    }

    .comment-respond,
    .comment-form {
      display: grid;
      gap: var(--scale-16-32);

      input[type='submit'] {
        width: auto;
        background: var(--c-nearly-black);
        color: var(--c-white);
      }
    }

    .comment-form-comment,
    .comment-form-rating {
      display: grid;
      gap: var(--scale-8-16);

      input {
        width: 100%;
      }

      .stars {
        display: inline-block;
        width: fit-content;
      }
    }

    .comment-form-author,
    .comment-form-email {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--scale-8-16);

      input {
        width: 100%;
      }
    }

    .comment-form-cookies-consent {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--scale-8-16);

      label {
        font-weight: var(--fw-regular);
      }
    }

    .comment-reply-title {
      font-size: var(--fs-h4);
      font-weight: var(--fw-bold);
    }

    .commentlist {
      padding: 0;
      display: grid;
      gap: var(--scale-16-32);

      .woocommerce-review__author {
        font-weight: var(--fw-regular);
      }
    }
  }

  // related products
  .related.products {
    display: grid;
    gap: var(--scale-16-32);

    @media (min-width: 768px) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .products {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: var(--scale-16-32);
      width: 100%;

      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}

// variation button styling
.variations {
  padding: var(--scale-8-16);
  border: 1px solid var(--c-button-border);
  border-radius: var(--border-radius-extra-small);
  background: var(--c-accent);

  select {
    display: none;
  }

  .variation-buttons {
    display: flex;
    flex-direction: row;
    gap: var(--s-8);
    flex-wrap: wrap;
    width: 100%;
  }

  .variation-button {
    border-radius: var(--border-radius-extra-small);
    font-size: var(--fs-small);
    padding: var(--s-8);
    width: 4.6rem;
    height: 4.6rem;
    min-width: fit-content;
    position: relative;
    font-weight: var(--fw-bold);
    border: 1px solid var(--c-button-border);
    box-shadow: none;

    @media (min-width: 768px) {
      font-size: var(--fs-body);
    }

    &.selected {
      border: 2px solid var(--c-nearly-black);

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid var(--c-white);
        border-radius: calc(var(--border-radius-extra-small) - 2px);
      }
    }

    &[data-name='attribute_colors'] {
      font-size: 0 !important;
    }

    &[data-value='White'] {
      background: #fff;
    }

    &[data-value='Sport Grey'] {
      background: #cacaca;
    }

    &[data-value='Daisy'] {
      background: #fed141;
    }

    &[data-value='Orange'] {
      background: #ea5f22;
    }

    &[data-value='Black'] {
      background: #000;
    }

    &[data-value='Charcoal'] {
      background: #585559;
    }

    &[data-value='Dark Heather'] {
      background: #454545;
    }

    &[data-value='Heather Navy'] {
      background: #424753;
    }

    &[data-value='Irish Green'] {
      background: #129447;
    }

    &[data-value='Military Green'] {
      background: #62664c;
    }

    &[data-value='Navy'] {
      background: #1a2237;
    }

    &[data-value='Red'] {
      background: #c62a32;
    }

    &[data-value='Royal'] {
      background: #084f97;
    }
  }

  .variation-container {
    display: grid;
    gap: var(--s-8);

    &:first-child {
      padding-bottom: var(--s-8);
    }
  }

  .label {
    text-transform: lowercase;

    &:first-letter {
      text-transform: capitalize;
    }

    &.selected {
      text-transform: capitalize;
    }

    .selected-colour {
      text-transform: capitalize;
    }

    .selected-size {
      text-transform: uppercase;
    }
  }
}

.price-and-size-guide-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--scale-8-16);

  .size-guide-trigger {
    margin-left: auto;
    padding: 0;
    border: none;
    box-shadow: none;
    background: transparent;
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    display: flex;
    align-items: center;
    gap: var(--s-4);
    text-decoration: underline;

    svg {
      @media (min-width: 768px) {
        display: none;
      }

      @media (min-width: 1000px) {
        display: block;
      }
    }
  }
}

.woocommerce .woocommerce-info.wc-no-matching-variations {
  background: var(--c-error-pale);
}

// top price
.summary .price {
  display: flex;
  align-items: center;
  gap: 2px;
}

.product-type-variable .summary .price {
  display: none;
}

.product-type-variable .summary .woocommerce-variation-price,
.product-type-variable .summary .woocommerce-variation-price .price {
  display: flex;
  align-items: center;
  gap: 2px;

  .woocommerce-Price-amount {
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
  }

  del,
  ins {
    text-decoration: none;
  }

  del ins {
    text-decoration: line-through;
    font-size: var(--fs-h3);
  }
}

// newsletter save trigger button
.product-page-save-button {
  padding: 0;
  border: none;
  box-shadow: none;
  font-weight: var(--fw-regular);
  font-size: var(--fs-body);
  text-decoration: underline;
  width: fit-content;
  display: inline-block;
  margin: calc(var(--scale-8-16) * -1) auto 0 0;
}

/* Remove default spinner background */

/* Create a custom CSS spinner */
.woocommerce div.product form.cart .blockUI.blockOverlay:after {
  content: '';
  display: block;
  width: 48px;
  height: 48px;
  border: 6px solid var(--c-white); /* Base color */
  border-top-color: var(--c-black); /* Your desired spinner color */
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 0.7s linear infinite;
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
