.site-header {
  grid-area: header;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);

  .inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $scale-16-32;
  }

  .site-logo {
    height: 70px;
  }
}
