.animals {
  display: flex;
  gap: var(--scale-16-32);
  flex-direction: column;
  margin-bottom: var(--scale-32-64);

  .title-bar {
    display: flex;
    flex-direction: column;
    gap: var(--scale-16-32);

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    form {
      display: flex;
      flex-direction: row;
      gap: var(--scale-16-32);
      width: auto;
    }
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--scale-16-32);
    flex-direction: column;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .animal {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--scale-8-16);
    text-decoration: none;
    align-items: center;
    width: 100%;
    margin-bottom: var(--scale-8-16);

    a.image {
      background: red;
      width: 100%;
      aspect-ratio: 1 / 1;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: var(--transition);

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
