.highlights {
  display: flex;
  gap: var(--scale-16-32);
  flex-direction: column;
  margin-bottom: var(--scale-32-64);

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .highlight {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--scale-16-32);
    text-decoration: none;
    align-items: center;
    width: 100%;

    a.image {
      width: 100%;
      background: red;
      aspect-ratio: 16 / 9;
      overflow: hidden;
      border-radius: var(--border-radius-small);

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: var(--transition);

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
