/* from https://transfonter.org/ */

@font-face {
  font-family: 'Averia Serif Libre';
  src: url('fonts/AveriaSerifLibre-Bold.woff2') format('woff2'),
    url('fonts/AveriaSerifLibre-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Averia Serif Libre';
  src: url('fonts/AveriaSerifLibre-BoldItalic.woff2') format('woff2'),
    url('fonts/AveriaSerifLibre-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Averia Serif Libre';
  src: url('fonts/AveriaSerifLibre-Regular.woff2') format('woff2'),
    url('fonts/AveriaSerifLibre-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Averia Serif Libre';
  src: url('fonts/AveriaSerifLibre-LightItalic.woff2') format('woff2'),
    url('fonts/AveriaSerifLibre-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Averia Serif Libre';
  src: url('fonts/AveriaSerifLibre-Italic.woff2') format('woff2'),
    url('fonts/AveriaSerifLibre-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Averia Serif Libre';
  src: url('fonts/AveriaSerifLibre-Light.woff2') format('woff2'),
    url('fonts/AveriaSerifLibre-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('fonts/NotoSerif-Regular.woff2') format('woff2'),
    url('fonts/NotoSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('fonts/NotoSerif-Italic.woff2') format('woff2'),
    url('fonts/NotoSerif-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
