.footer {
  clear: both;
  background: var(--c-accent);
  padding: var(--scale-16-32) 0;

  .inner-wrapper {
    display: block;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      gap: var(--scale-16-32);
    }
  }

  .newsletter {
    padding: var(--scale-16-32);
    box-shadow: var(--box-shadow-card);
    background: var(--c-white);
    border-radius: var(--border-radius-extra-small);
  }

  .legals {
    grid-column-start: 1;
    grid-column-end: 5;
    margin: 0 auto;
    padding: var(--scale-16-32) 0 0 0;
    font-size: var(--fs-small);
    text-align: center;

    ul {
      display: flex;
      align-items: center;
      gap: var(--scale-8-16);
      flex-direction: row;
      justify-content: center;

      li {
        text-align: center;
      }
    }
  }

  .footer-menu {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  .facebook {
    background: var(--c-facebook-blue);
    border-radius: 50%;
    display: flex;

    padding: 8px;

    svg {
      fill: var(--c-white);
    }
  }

  a {
    text-decoration: none;
  }
}
