.home {
  .woocommerce.columns-4 {
    margin-bottom: var(--scale-32-64);
  }
}

.home-section {
  margin: var(--scale-32-64) 0;

  @media (min-width: 768px) {
    margin: 0 0 var(--scale-32-64) 0;
  }

  .inner-wrapper {
    display: grid;
    gap: var(--scale-16-32);
  }

  .underline {
    border-bottom: 1px solid var(--c-nearly-black);
  }

  .text {
    display: none;

    @media (min-width: 768px) {
      display: grid;
      gap: var(--scale-8-16);
    }
  }

  &.hero-section {
    margin: var(--scale-32-64) 0 0 0;

    @media (min-width: 768px) {
      margin: 0 0 var(--scale-16-32) 0;
    }

    .inner-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: var(--scale-16-32);
      align-items: center;

      @media (min-width: 768px) {
        grid-template-columns: 3fr 2fr;
      }
    }

    img {
      margin-top: calc(var(--scale-16-32) * -1);
    }

    .hero-image {
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }
  }
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--scale-16-32);
  align-items: start;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  .col-2 {
    grid-template-columns: 1fr 1fr;
  }
}

.col-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--scale-16-32);
  align-items: start;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.col-6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--scale-16-32);
  align-items: start;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
