:root {
  /* spacing */
  --s-4: 0.4rem;
  --s-8: 0.8rem;
  --s-16: 1.6rem;
  --s-18: 1.8rem;
  --s-24: 2.4rem;
  --s-32: 3.2rem;
  --s-64: 6.4rem;
  --s-128: 12.8rem;

  /* responsive spacing */
  /* based on viewport fom min 375px to max 1200px */
  /* https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport */

  --scale-4-8: clamp(0.4rem, 0.2182rem + 0.4848vw, 0.8rem);
  --scale-4-16: clamp(0.4rem, 0.4364rem + 0.9697vw, 1.6rem);
  --scale-4-32: clamp(0.4rem, -0.2909rem + 2.9091vw, 3.2rem);
  --scale-8-16: clamp(0.8rem, 0.4364rem + 0.9697vw, 1.6rem);
  --scale-16-24: clamp(1.6rem, 1.2364rem + 0.9697vw, 2.4rem);
  --scale-16-32: clamp(1.6rem, 0.8727rem + 1.9394vw, 3.2rem);
  --scale-16-64: clamp(1.6rem, -0.5818rem + 5.8182vw, 6.4rem);
  --scale-16-48: clamp(1.6rem, 0.1455rem + 3.8788vw, 4.8rem);
  --scale-24-32: clamp(2.4rem, 1.2364rem + 0.9697vw, 3.2rem);
  --scale-32-64: clamp(3.2rem, 1.7455rem + 3.8788vw, 6.4rem);

  /* colours */
  --c-grey: #e9e9ec;
  --c-grey-pale: #f4f4f5;
  --c-grey-med: #bdbdbd;
  --c-grey-dark: #7b7b7b;
  --c-nearly-black: #151922;
  --c-black: #000;
  --c-white: #fff;

  --c-accent: #fff7eb;
  --c-accent-pale: #fff7eb;

  --c-primary-button: #ffa41c;
  --c-secondary-button: #ffd814;

  --c-button-border: rgba(0, 0, 0, 0.1);

  --c-facebook-blue: #54709f;

  --c-christmas-red: #eb0000;
  --c-christmas-green: #006b3f;

  --c-green: #119c03;
  --c-green-dark: #0c8300;
  --c-orange: #d13f00;
  --c-orange-medium: #ff6d00;

  --c-error: #f33;
  --c-error-dark: #c00;
  --c-error-pale: #ffebeb;

  --c-success: #00cc66;
  --c-success-dark: #026918;
  --c-success-pale: #e6faf0;

  --c-info: #0048ff;
  --c-info-dark: #002ea1;
  --c-info-pale: #ccdaff;

  --c-warning: #ffaa33;
  --c-warning-dark: #c33300;
  --c-warning-pale: #fff7eb;

  /* font size */
  /* based on viewport fom min 375px to max 1400px */
  /* https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport */
  --fs-h1-super: clamp(4.8rem, 3.0439rem + 4.6829vw, 9.6rem);
  --fs-h1-hero: clamp(3rem, 2.0488rem + 2.5366vw, 5.6rem);
  --fs-h1: clamp(2.8rem, 2.0958rem + 1.8779vw, 4.8rem);
  --fs-h2: clamp(2.2rem, 1.5636rem + 1.697vw, 3.6rem);
  --fs-h3: clamp(1.8rem, 1.5273rem + 0.7273vw, 3rem);
  --fs-h4: clamp(1.6rem, 1.4182rem + 0.4848vw, 2rem);
  --fs-body: clamp(1.4rem, 1.2182rem + 0.4848vw, 1.8rem);
  --fs-nav: clamp(1.4rem, 1.2182rem + 0.4848vw, 1.8rem);
  --fs-small: clamp(1.2rem, 1.0182rem + 0.4848vw, 1.6rem);
  --fs-tiny: 1.2rem;

  /* font weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-black: 900;

  /* misc */
  --max-readable-width: 70ch;
  --transition: 0.2s ease;
  --box-shadow-card: 0px 11px 38px 0px rgba(0, 0, 0, 0.15);
  --box-shadow-menu: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  --box-shadow-button: 0px 4px 4px 0px var(--c-button-border);
  --border-radius-med: var(--scale-8-16);
  --border-radius-small: var(--scale-4-8);
  --border-radius-extra-small: var(--s-4);
}
