// checkout page
.woocommerce-checkout {
  .header {
    padding-bottom: var(--scale-16-32);
  }
}

form.woocommerce-checkout {
  display: block;
  margin-top: var(--scale-16-32);
  overflow: auto;
  clear: both;

  .col2-set {
    float: none;
    width: 100%;
    padding: 0 0 var(--scale-16-32) 0;

    @media (min-width: 768px) {
      float: left;
      width: 50%;
      padding: 0 var(--scale-16-32) var(--scale-16-32) 0;
    }
  }

  #order_review_heading {
    margin-bottom: var(--scale-16-32);
  }

  .woocommerce-billing-fields {
    display: grid;
    gap: var(--scale-16-32);
  }

  .col2-set {
    display: grid;
    gap: var(--scale-16-32);

    .col-1 {
      display: grid;
      gap: var(--scale-16-32);

      .woocommerce-form__label {
        display: flex;
        gap: var(--s-8);
        flex-direction: row;
      }
    }
  }

  .woocommerce-billing-fields__field-wrapper {
    display: grid;
    gap: var(--scale-16-32);
  }

  .woocommerce-shipping-fields {
    display: flex;
    gap: var(--scale-16-32);
    flex-direction: column;

    .woocommerce-form__label {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--scale-8-16);
    }
  }

  .woocommerce-shipping-fields__field-wrapper {
    display: grid;
    gap: var(--scale-16-32);
  }

  .col-2 {
    gap: var(--scale-16-32);
    display: grid;

    textarea {
      width: 100%;
      height: 200px;
    }
  }

  .woocommerce-checkout-review-order {
    gap: var(--scale-16-32);
    display: grid;

    .shop_table {
      thead {
        display: table-header-group;
      }

      td,
      th {
        border: none;
      }

      td {
        &.product-name,
        &.product-total {
          width: fit-content;
          display: table-cell;
          border: none;
          border-bottom: 1px solid var(--c-grey-med);
          vertical-align: top;
        }
      }

      th {
        vertical-align: top;
      }

      tbody tr:last-child td,
      tfoot tr:last-child td {
        text-align: left;
        padding: var(--scale-8-16) var(--scale-8-16) var(--scale-16-32)
          var(--scale-8-16);
      }

      tfoot tr:last-child td {
        padding: var(--scale-8-16);
      }

      .woocommerce-shipping-totals td {
        gap: var(--scale-8-16);
        display: grid;
      }
    }

    button[type='submit'] {
      color: var(--c-nearly-black);
      background-color: var(--c-primary-button);
      border: 2px solid var(--c-button-border);
      border-radius: 500px;
      width: 100%;
      text-align: center;
      padding: var(--scale-16-24);
    }
  }

  .place-order {
    display: grid;
    gap: var(--scale-16-32);
  }

  label[for='payment_method_woocommerce_payments'] {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
  }

  .woocommerce-checkout-payment,
  .wc_payment_methods,
  .wc_payment_method,
  .payment_method_woocommerce_payments {
    display: grid;
    gap: var(--scale-16-32);
  }

  .form-row.woocommerce-SavedPaymentMethods-saveNew,
  .woocommerce-SavedPaymentMethods li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--s-8);
  }

  #wc-woocommerce_payments-new-payment-method {
    width: 2.4rem !important;
    height: 2.4rem;
  }

  #wcpay-payment-request-button-separator {
    margin: var(--scale-16-32);
  }

  &.processing {
    z-index: 99;

    &:after {
      content: 'Processing ...';
      display: flex;
      align-items: center;
      z-index: 999;
      font-size: var(--fs-h3);
      font-weight: var(--fw-bold);
    }
  }
}
